.lista-de-transacoes {
    background-color: $branco;
    width: -webkit-fill-available;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 1rem;
    padding: 1rem 2rem 2rem;
    border-radius: 1rem 1rem 0 0;

    h1 { @include tipografia-primaria-bold; }
}

.historico {
    width: 100%;
    max-height: 100%;
    overflow: hidden auto;
    padding-bottom: 3.5rem;
    padding-right: .25rem;
    box-sizing: border-box;
}

.historico::-webkit-scrollbar-track { background-color: $cinzaClaro; }

.historico::-webkit-scrollbar { width: .8rem; }

.historico::-webkit-scrollbar-thumb {
    background-color: $azulClaro;
    border-radius: .5rem;
}

.card {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $cinzaEscuro;
    border-radius: .25rem .25rem 0 0;
    align-items: center;
    z-index: 0;

    &::after {
        content: '';
        background-color: change-color($color: $cinzaClaro,  $alpha: .8);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: all .7s;
        z-index: 1;
    }
    
    &:hover {
        &::after { opacity: 1; }

        .conteudo-escondido {
            right: 0;
            opacity: 1;
            z-index: 2;
        }
    }
}

.descricao {
    width: 100%;
    padding: .5rem 0;
    padding-left: .5rem;
    max-width: 45%;
    transition: all 1s;
    
    p, span { @include tipografia-primaria-medium() }
    span { color: $cinza }
    
    p {
        @extend %elemento-com-limite;
        font-size: 1rem
    }
}

.card__valor {
    @include tipografia-secundaria-bold;

    width: 100%;
    max-width: 45%;
    text-align: right;
    transition: all 1s;
    
    h2 {
        @extend %elemento-com-limite;
        font-size: 1.25rem;
    }
}

.conteudo-escondido {
    @include centralizar-flex();

    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    position: absolute;
    right: -80%;
    opacity: 0;
    transition: .7s;
}

.editar, .apagar {
    width: max-content;
    height: max-content;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: all .5s;
    }
}

.apagar {
    padding: 0 .25rem;

    button {
        @include botao-com-x();
        
        background-color: $vermelho;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: .5rem;
        transform: scale(.9);
        cursor: pointer;
        
        &::after { transform: rotate(-45deg); }
        &::before { transform: rotate(45deg); }
    }
}
